/* signup-modal 스타일 */
.signup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .signup-modal-content {
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    width: 400px;
    border: 2px solid #FFFFFF;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .signup-modal h1 {
    font-size: 2.5rem;
    color: #EF283D;
    margin-bottom: 1rem;
  }
  
  .signup-modal h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .signup-modal p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #FFFFFF;
  }
  
  .signup-modal ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
  
    li {
      font-size: 0.9rem;
      margin-bottom: 0.75rem;
      color: #FFFFFF;
    }
  }
  
  /* 이메일 입력 및 버튼 스타일 */
  .signup-email-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  
    input {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #000000;
      color: #FFFFFF;
    }
  
    input::placeholder {
      color: #FFFFFF;
      opacity: 0.7;
    }
  
    .signup-sign-in-btn {
      background-color: #FFD700;
      color: #000000;
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #FFC700;
      }
    }
  }
  
  /* 팝업 닫기 버튼 */
  .signup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
  }
  